{{template "header"}}
<style>
    .card-box {
        padding: 0px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0rem;
    }

    #tableList .td {
        vertical-align: middle;
    }

    thead {
        background: #f5f5f5;
    }

    .project {
        font-weight: bold;
        padding-left: 5px;
    }

    .fa-trash-o {
        color: #f00;
        cursor: pointer;
    }

    .info {
        color: #039cfd;
        cursor: pointer;
        font-weight: bold;
    }

    .label {
        line-height: 11px;
    }

    .lb_ssh {
        background-color: #434556;
    }

    .lb_redis {
        background-color: #e44242;
    }

    .lb_mysql {
        background-color: #cabd23;
    }

    .pre {
        background: #2b2a2a;
        color: #50d620;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <a type="button" class="btn btn-custom" href="#">导出 <span class="m-l-5"><i
                    class="zmdi zmdi-alarm-plus"></i></span>
            </a>
        </div>
        <h4 class="page-title">钓鱼列表</h4>
    </div>

    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="10%">项目</th>
                    <th width="10%">来源 IP</th>
                    <th width="10%">信息</th>
                    <th width="10%">上钩时间</th>
                    <th width="1%">操作</th>
                </tr>
                </thead>
                <tbody id="tableList">
                <tr>
                    <td class="td"><span class="label label-primary">WEB</span> <span class="project">微博钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info" onclick="show('web',1)">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label lb_ssh">SSH</span> <span class="project">SSH钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info" onclick="show('ssh',1)">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label lb_redis">REDIS</span> <span class="project">Redis钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info" onclick="show('redis',1)">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label lb_mysql">MYSQL</span> <span class="project">Mysql钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info" onclick="show('mysql',1)">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label label-primary">WEB</span> <span class="project">微博钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label lb_ssh">SSH</span> <span class="project">SSH钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label lb_redis">REDIS</span> <span class="project">Redis钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                <tr>
                    <td class="td"><span class="label lb_mysql">MYSQL</span> <span class="project">Mysql钓鱼</span></td>
                    <td class="td">10.60.0.191</td>
                    <td><span class="info">点击查看</span></td>
                    <td class="td">2018-01-01 10:00</td>
                    <td class="td" style="text-align: center;">
                        <i class="fa fa-trash-o"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">上钩信息</h4>
            </div>
            <div class="modal-body">
                <pre class="pre">asdasdasdasd</pre>
            </div>
        </div>
    </div>
</div>

{{template "footer" }}
<script>
    function show(type, id) {
        $('#myModal').modal('show')
    }
</script>